﻿@model ChatProject.ViewModel.RegistrationViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>User Registration</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card">


                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-lg-12 row">
                        <div class="col-sm-6 form-group">
                            <label asp-for="FullName"></label>
                            <input asp-for="FullName" class="form-control" required />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 row">

                        <div class="col-sm-4 form-group">
                            <label asp-for="Contact"></label>
                            <input asp-for="Contact" class="form-control" />
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-12 row">
                        <div class="col-sm-4 form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    <div class="col-sm-12 form-group">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>