﻿@model QrCodeWithParameter.Models.VideoDetails

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>VideoDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="videoTitle" class="control-label"></label>
                <input asp-for="videoTitle" class="form-control" />
                <span asp-validation-for="videoTitle" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="folderID" class="control-label"></label>
            <select asp-for="folderID" asp-items="@(new SelectList(Model.listOfFolders,"Value","Text"))">

            </select>
            <span asp-validation-for="detailsVideo" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label for="answer" class="control-label"></label>
                <input type="text" class="form-control" name="answer"/>                
            </div>
            <div class="form-group">
                <label asp-for="detailsVideo" class="control-label"></label>
                <input asp-for="detailsVideo" class="form-control" type="file" name="detailsVideo" />
                <span asp-validation-for="detailsVideo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
