﻿@model QrCodeWithParameter.Models.VideoDetails
@{ 
    var src_video = "/files/" + Model.videoID + ".mp4";
} 
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>VideoDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.videoTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.videoTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.videoURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.videoURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.folderID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.folderID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
   
        <video controls height="720" width="1280" autoplay="autoplay">
            <source src= @src_video  type="video/mp4"/>
           
        </video>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.videoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
