﻿@model QrCodeWithParameter.Models.QuestionDetails

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
    }

</style>
<h1>Details</h1>
<p>
    <a asp-controller="VideoDetails" asp-action="Create" asp-route-id="@Model.folderId">Create New</a>
</p>
<div>
    <h4>QuestionDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.folderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.folderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatorId)
        </dd>
    </dl>
</div>
<div class="row">
    
        @foreach (var ids in ViewBag.VideoId)
        {
        <div class="col-sm-3">
            <a asp-controller="VideoDetails" asp-action="Details" asp-route-id="@ids">
                <div class="card">
                    <img src="https://hatrabbits.com/wp-content/uploads/2018/10/risky-assumptions.jpg" class="card-img-top" alt="text" />
                    <div class="card-body">
                        <h5 class="card-title">
                            Click here
                        </h5>
                    </div>
                </div>


            </a>
        </div>
        }
    
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.QuestionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
